
<article class="row-fluid"> 
	<%- unless resource.images.empty? -%>
	<div class="span8">
		<%= render_slideshow_for(resource) %>
	</div>
	<div class="span4">
		<div id="page-text">
			<%= "oops" %>
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
	<%- else -%>
	<div class="span12">
		<div id="page-text">
			<%= render_page_title(resource.title) %>
			<%= render_html_text(resource.body) %>
		</div>
	</div>
	<%- end -%>
</article>
